.figures{
    border: 1px solid gray;
    border-radius: 10px 10px;
}

.element {
    stroke-width :2;
    fill: none;
}

.line{
    stroke: gray;
}

.circle{
    stroke: red;
}

.rect {
    stroke: #5D8896;
}

.triangle{
    stroke: green;
}