.chart{
    width: 800px;
}

.curveName{
    width:20px;
    height: 30px;

}

.random_path path {
    fill:none;
    stroke: steelblue;
    stroke-width:2;
}

.circle{
    fill: white;
    stroke: steelblue;
    stroke-width:1px;
}