body{
    font-family: serif;
    font-size: 20px;
}

.chart table{
    font-size: 10px;
    text-align: center;
    border: solid;
}

.chart table td ,th{
    padding: 10px;
    border: 1px solid black;
    height: 20px;
    width: 100px;
    text-align: center;
}

.hide{
    visibility: hidden;
}
